:root {
    --black: #252525;
    --black-333: #333333;
    --white: #ffffff;
    --white-f7f7f7: #f7f7f7;
    --white-f6f6f6: #f6f6f6;
    --white-fdfdfd: #fdfdfd;
    --white-f8f9fc: #f8f9fc;
    --primary: #738bff;
    --primary-ebefff: #ebefff;
    --primary-shadow: rgba(115, 139, 255, 0.5);
    --gray-666: #666666;
    --gray-999: #999999;
    --gray-b1b3b3: #b1b3b3;
    --gray-cacaca: #cacaca;
    --gray-d1d1d1: #d1d1d1;
    --gray-c4c4c4: #c4c4c4;
    --gray-cacaca: #cacaca;
    --line-dadada: #dadada;
    --line-f3f3f3: #f3f3f3;
    --line-f4f4f4: #f4f4f4;
    --line-e7e7e7: #e7e7e7;
    --line-efefef: #efefef;
    --line-edeff3: #edeff3;
    --line-eaeaea: #eaeaea;
    --green: #4ba182;
    --green-ddf3ed: #ddf3ed;
    --orange: #e08826;
    --orange-fef3de: #fef3de;
    --error: #ff5a5a;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 9999;
}
.header .header_inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.7rem;
}
.header .header_inner .btn_prev {
    position: absolute;
    left: 0;
    top: 0;
    height: inherit;
    padding: 0 0.9rem;
    background: none;
    border: none;
    cursor: pointer;
}
.header .header_inner .btn_prev img {
    display: block;
    width: 0.65rem;
    height: 1.1rem;
}
.header .header_inner .logo {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 1rem;
    cursor: pointer;
}
.header .header_inner .logo img {
    display: block;
    width: 6rem;
    height: 1.3rem;
}
.header .header_inner h1 {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--black);
}
.header .header_inner .btn_menu {
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
    padding: 0 1rem;
    background: none;
    border: none;
    cursor: pointer;
}
.header .header_inner .btn_menu img {
    display: block;
    width: 1.3rem;
    height: 0.9rem;
}
/* swiper tabs */
.main .swiper_tabs {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--line-f4f4f4);
}
.main .swiper_tabs button {
    position: relative;
    flex: 1;
    height: 2.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: -0.014rem;
    border: none;
    background-color: var(--white);
    color: var(--gray-999);
}
.main .swiper_tabs button.active {
    color: var(--black);
}
.main .swiper_tabs button.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: var(--black);
}

.toggle_menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--white);
    z-index: 999999;
    transition: right 0.3s;
    overscroll-behavior: contain;
}
.toggle_menu.active {
    right: 0;
}
.toggle_menu .content {
    padding-bottom: 1.6rem;
}
.toggle_menu .content .menu_head .close_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.toggle_menu .content .menu_head .close_wrap button {
    border: none;
    background: none;
    padding: 0.9rem;
}
.toggle_menu .content .menu_head .close_wrap button img {
    display: block;
    width: 1rem;
    height: 1rem;
}
.toggle_menu .content .menu_head .menu_head_inner {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    grid-gap: 0.7rem;
    align-items: center;
    padding: 0.3rem 0 2.4rem;
}
.toggle_menu .content .menu_head .menu_head_inner h6 {
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    color: var(--black);
}
.toggle_menu .content .menu_head .menu_head_inner button {
    width: 3.3rem;
    height: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    grid-gap: 0.2rem;
    border-radius: 1.2rem;
    border: none;
    background: linear-gradient(to right, #a1b1ff 0%, #4b67f2 100%);
    font-size: 0.6rem;
    font-weight: 900;
    color: var(--white);
}
.toggle_menu .content .menu_head .menu_head_inner button img {
    display: block;
    width: 0.3rem;
    height: 0.5rem;
}
.toggle_menu .content .menu_body {
    display: flex;
    flex-direction: column;
    padding: 0 0.9rem;
}
.toggle_menu .content .menu_body .menu_body_inner:not(:last-child) {
    padding-bottom: 1.4rem;
    margin-bottom: 1.4rem;
    border-bottom: 1px solid var(--line-eaeaea);
}
.toggle_menu .content .menu_body .menu_body_inner > strong {
    font-size: 0.7rem;
    font-weight: 900;
    color: var(--gray-c4c4c4);
}
.toggle_menu .content .menu_body .menu_body_inner ul {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    grid-gap: 1.4rem;
    margin-top: 1.2rem;
}
.toggle_menu .content .menu_body .menu_body_inner ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.toggle_menu .content .menu_body .menu_body_inner ul li a span {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.0125rem;
    color: var(--black);
}
.toggle_menu .content .menu_body .menu_body_inner ul li a img {
    display: block;
    width: 0.4rem;
    height: 0.7rem;
}
.toggle_menu .content .menu_footer {
    padding: 0 0.9rem;
    margin-top: 2rem;
}
.toggle_menu .content .menu_footer button {
    width: 100%;
    height: 2.9rem;
    border-radius: 0.8rem;
    border: none;
    background: var(--white-f6f6f6);
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: -0.011rem;
    color: var(--gray-999);
}
